body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

canvas {
    margin: 20px;
}
#graficoVerde {
    max-width: 600px;
    max-height: 600px;
    margin: auto;
}
#graficoAmarillo {
    max-width: 600px;
    max-height: 600px;
    margin: auto;
}
#graficoAzul {
    max-width: 600px;
    max-height: 600px;
    margin: auto;
}


